{"filter":false,"title":".htaccess","tooltip":"/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":40,"mode":"ace/mode/apache_conf"},"cleansed":true},"hash":"8ab489f1e6b22b22d4707a0b9215324e2fa1010c","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1389762378000}